.box {
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 55px;
  align-items: center;
}

.box.small {
  max-width: 20px;
  padding-bottom: 30px;
  margin: 0px 17px;
}

.light {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  margin: 1px;
}

.red{
  background-color: red;
}

.green{
  background-color: rgb(15, 194, 15);
  filter: drop-shadow(1px 0px 15px rgb(15, 194, 15));
}

.yellow{
  background-color: yellow;
}
